body{
    background-color: #cdb5e8;
    /* background-image: url("https://i.pinimg.com/originals/ba/0e/fa/ba0efaf6042fa4b279a36f343dac19fc.jpg"); */
}
.navbar{
    background-color: #866ca3;
}

.jumbotron{
    background-color: #ead6ff;
    color: #25004d;
}

#input{
    flex: 1;
    /* background-color: burlywood; */
    width: 100%;
}

#inputLabel{
    flex: 1.5;
    /* background-color: blue; */
}

#container{
    width: 80%;
}