.logo{
	width: auto;
	height: 150px;
}

.banner{
	height: 150px;
	background-image: url('../images/shutterstock_116403520.jpg');
	background-size: cover;
	background-position: center -100px;
}

.callOuts{
	border: 1px solid #d7d8da;
}

.callOuts img{
	height: auto;
	width: 100px;
}

/*Bottom Area*/
.bottomArea{
	background-color: #424243;
	height: 250px;
	color: #fff;
	font-size: .8rem;
}

.bottomArea p{
	font-size: .7rem;
}

.bottomArea h5{
	font-weight: 800;
	font-size: 16px;
}

.w-60{
	width: 60%!important;
}

.h-30{
	width: 30%!important;
}

.w-20{
	width: 20%!important;
}

/*Responsive code*/

@media (min-width: 576px) {
	.banner{
		height: 200px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.banner{
		height: 300px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.banner{
		height: 400px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}